// FOOTER :: START
.footer
  .container
    .footer__wrap.flex-wrap
      a.footer__dev(href="http://redobureau.com" target="_blank")
        span СДЕЛАНО В REDO
      .footer__copy 2018 ©WANDERBUILD. ALL RIGHTS RESERVED
