// FOOTER :: START
.footer
  .container
    .footer__wrap.flex-wrap
      a.footer__dev(href="#" target="_blank") 
        span СДЕЛАНО В REDO
      .footer__copy 2017 ©WANDERBUILD. ALL RIGHTS RESERVED
