.header.wow.fadeInDown(data-wow-delay="0.9s")
  .container
    .header__wrap.flex-wrap
      .header__main.flex-wrap
        include ../components/_menu
        a.header__logo(href="#")
          +icon('ico-logo')
        button(type="button" js-open-menu).header__btn.hamburger.hamburger--spin
          span.hamburger-box
            span.hamburger-inner
      .header__empty