nav.main-nav
  .main-nav__menu
    a.main-nav__item.is-active(href="#")
      span Главная
    a.main-nav__item(href="#")
      span О компании
    a.main-nav__item(href="#")
      span Проекты
    a.main-nav__item(href="#")
      span Как мы работаем
    a.main-nav__item(href="#")
      span Контакты
  .main-nav__submenu
    a.main-nav__link(href="#")
      span Вопросы
    a.main-nav__link(href="#")
      span Правила пользования
    a.main-nav__link.main-nav__link--dev(href="#") Сделано 
      span REDO