nav.main-nav
  .main-nav__menu
    a.main-nav__item.is-active(href="homepage.html")
      span Главная
    a.main-nav__item(href="about.html")
      span О компании
    a.main-nav__item(href="list.html")
      span Проекты
    a.main-nav__item(href="how.html")
      span Как мы работаем
    a.main-nav__item(href="contacts.html")
      span Контакты
  .main-nav__submenu
    a.main-nav__link(href="#")
      span Вопросы
    a.main-nav__link(href="#")
      span Правила пользования
    a.main-nav__link.main-nav__link--dev(href="#" target="_blank") Сделано 
      span REDO
