nav.main-nav
  .main-nav__menu
    a.main-nav__item.is-active(href="index.html")
      span Главная
    a.main-nav__item(href="about.html")
      span О компании
    a.main-nav__item(href="list.html")
      span Проекты
    a.main-nav__item(href="how.html")
      span Как мы работаем
    a.main-nav__item(href="about.html#team")
      span Архитекторы
    a.main-nav__item(href="contacts.html")
      span Контакты  
  .main-nav__submenu
    a.main-nav__link(href="mailto:info@wanderbuild.com" target="_blank") info@wanderbuild.com
    a.main-nav__link.main-nav__link--dev(href="tel:+74951045256" target="_blank") +7 (495) 104-52-56
