---
title: About
---
extends shared/_layout
block content
  main.page-main
    .container--breadcrumbs
      .breadcrumbs
        a.breadcrumbs__link(href="index.html") Главная
        a.breadcrumbs__link(href="#") О компании
    // ABOUT :: START
    section.contacts.about
      .container
        .contacts__wrap.flex-wrap
          .contacts__empty
          .contacts__main
            span.about__link.wow( href="#") Наша история
            h1.contacts__title.common-title.wow(data-wow-delay="0.1s") Индивидуальные проекты под ключ
            p.contacts__descr.common-text.wow(data-wow-delay="0.2s") С 2007 года строительная компания Wanderbuild реализовала более 200 проектов частных резиденций и загородных домов в поселках Барвиха «Сады Мейен-дорф», Жуковка «Ландшафт», Жуковка 21, Раздоры-2, Николина Гора «Коттон Вэй», Горки-2. Строительство особняков и резиденций вблизи Рублево-Успенского шоссе позволило нам выйти на идеальный уровень исполнения объектов и соответствовать высоким стандартам этики работы с недвижимостью такого уровня.
            p.contacts__descr.common-text.wow(data-wow-delay="0.3s") Аккумулировав опыт и выстроив все бизнес-процессы на собственных проектах, мы решили создать и развивать направление «комплексного подхода» к частному строительству. Теперь каждый из наших заказчиков может получить качественный, ликвидный объект в привлекательной локации с отделкой «под ключ».
      // ADVATAGES :: START
      .about__advantages.wow
        .container
          .contacts__wrap.flex-wrap
            .contacts__empty
            .contacts__main.flex-wrap
              .about__advantages-half.wow(data-wow-delay="0.2s")
                h2.about__advantages-title 10 лет
                p.about__advantages-text Опыт работы на рынке загородной недвижимости
                h2.about__advantages-title 6 месяцев
                p.about__advantages-text Средний срок работы по проекту
              .about__advantages-half.wow(data-wow-delay="0.4s")
                h2.about__advantages-title Более 200
                p.about__advantages-text Более 200 проектов реализовано нашей командой
                h2.about__advantages-title 1000 кв.м
                p.about__advantages-text Средняя площадь построенного дома
      // TEAM :: START
      .about__team(id="team")
        .container
          .contacts__wrap.flex-wrap
            .contacts__empty
            .contacts__main
              h2.common-subtitle.wow(data-wow-delay="0.1s") Наши архитекторы
              p.about__team-text.common-text.wow(data-wow-delay="0.2s") Весь цикл проектирования, строительства, отделки и декора дома ведет профессиональная команда Wanderbuild. Мы экономим время заказчиков и гарантируем качественное исполнение всех работ. Основатели строительной компании Wanderbuild сами живут в домах, спроектированных и возведенных их командой. Это еще одно подтверждение  уровня качества и ликвидности недвижимости.
          .about__team-wrap.flex-wrap
            .about__team-item.wow
              .about__team-img
                img(src="img/team1.jpg" srcset="img/team1@2x.jpg 2x")
              h3.about__team-name Николай Ткаченко
              p.about__team-pos Руководитель департамента загородной недвижимости
              a.about__team-mail(href="mailto:tkachenko@wanderbilt.ru")
                span tkachenko@wanderbilt.ru
            .about__team-item.wow
              .about__team-img
                img(src="img/team2.jpg" srcset="img/team2@2x.jpg 2x")
              h3.about__team-name Михаил Шестов
              p.about__team-pos Агент загородной недвижимости
              a.about__team-mail(href="mailto:tkachenko@wanderbilt.ru")
                span tkachenko@wanderbilt.ru
            .about__team-item.wow
              .about__team-img
                img(src="img/team3.jpg" srcset="img/team3@2x.jpg 2x")
              h3.about__team-name Дмитрий Никулин
              p.about__team-pos Агент загородной недвижимости
              a.about__team-mail(href="mailto:tkachenko@wanderbilt.ru")
                span tkachenko@wanderbilt.ru
            .about__team-item.wow
              .about__team-img
                img(src="img/team4.jpg" srcset="img/team4@2x.jpg 2x")
              h3.about__team-name Олег Днепровский
              p.about__team-pos Старший агент загородной недвижимости
              a.about__team-mail(href="mailto:tkachenko@wanderbilt.ru")
                span tkachenko@wanderbilt.ru
            .about__team-item.wow
              .about__team-img
                img(src="img/team5.jpg" srcset="img/team5@2x.jpg 2x")
              h3.about__team-name Ольга Сухова
              p.about__team-pos Агент загородной недвижимости
              a.about__team-mail(href="mailto:tkachenko@wanderbilt.ru")
                span tkachenko@wanderbilt.ru
            .about__team-item.wow
              .about__team-img
                img(src="img/team6.jpg" srcset="img/team6@2x.jpg 2x")
              h3.about__team-name Иван Сергеев
              p.about__team-pos Агент загородной недвижимости
              a.about__team-mail(href="mailto:tkachenko@wanderbilt.ru")
                span tkachenko@wanderbilt.ru
