---
title: Contacts
---
extends shared/_layout
block content
  main.page-main
    .container--breadcrumbs
      .breadcrumbs
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link(href="#") Контакты
    section.contacts
      .container
        .contacts__wrap.flex-wrap
          .contacts__empty
          .contacts__main
            a.breadcrumbs__link(href="#") Контакты
            h1.contacts__title.common-title.wow.fadeInUp(data-wow-delay="0.9s") Ждем вас в нашем офисе!
            p.contacts__descr.common-text.wow.fadeInUp(data-wow-delay="0.9s") Мы рады видеть вас у нас в офисе с 11:00 до 20:00 каждый день, в том числе в субботу и воскресенье. Вы можете заранее зарезервировать время визита, что бы сократить ожидание к минимуму.
            a.contacts__btn.common-btn.wow.fadeInUp(data-wow-delay="0.9s" href="#") На карте
      .contacts__map#contacts-map.wow.fadeInUp(data-wow-delay="0.9s" href="#")
      .container
        .contacts__wrap.flex-wrap.wow.fadeInUp(data-wow-delay="0.7s" href="#")
          .contacts__empty
          .contacts__main.flex-wrap.wow.fadeInUp(data-wow-delay="0.7s")
            .contacts__half
              h2.contacts__subtitle Телефон
              a.contacts__link(href="tel:+74951059547") 
                span 
                  span +7 (495) 105-95-47
              a.contacts__link.contacts__link--last(href="tel:+74951045521") 
                span 
                  span +7 (495) 104-55-21
              h2.contacts__subtitle E-mail
              a.contacts__link(href="mailto:info@jqestate.ru") 
                span 
                  span info@jqestate.ru
            .contacts__half
              h2.contacts__subtitle Офис в Жуковке
              p.contacts__address 143084, Московская обл., Рублёво–Успенское шоссе, Жуковка, 54Б, 2 этаж