---
title: Как мы работаем
---
extends shared/_layout
block content
  main.page-main
    .container--breadcrumbs
      .breadcrumbs
        a.breadcrumbs__link(href="index.html") Главная
        a.breadcrumbs__link(href="#") Контакты
    // HOW :: START
    section.contacts.how-section.wow
      .container
        .contacts__wrap.flex-wrap
          .contacts__empty
          .contacts__main
            span.about__link.wow(data-wow-delay="0.1s" href="#") Что мы делаем?
            h1.contacts__title.common-title.wow(data-wow-delay="0.2s") Идея Wanderbuild
            p.contacts__descr.common-text.wow(data-wow-delay="0.3s") Сочетая высокие стандарты рынка и индивидуальный подход к каждому проекту, мы строим качественные частные особняки и резиденции в Подмосковье. С Wanderbuild инвестируя в строительство собственного дома или объекта для продажи всегда можно быть уверенным в идеальном уровне исполнения и росте его рыночной стоимости.
            a.common-btn.wow(data-wow-delay="0.4s" href="about.html") Подробнее
    // services
    .how-section__services
      .container
        .contacts__wrap.flex-wrap
          .contacts__empty
          .contacts__main
            h1.contacts__title.common-title.wow(data-wow-delay="0.1s") Услуги и компетенции
            p.contacts__descr.common-text.wow(data-wow-delay="0.2s") Объединив все необходимые компетенции в одной команде, Wanderbuild — единственный и ответственный подрядчик для своих заказчиков на протяжении всего периода строительства и отделки дома.  Мы экономим ваше время и энергию, гарантируя качество и сроки исполнения проекта.
    // advantages
    .about__advantages.how-section__advantages.wow(data-wow-delay="0.3s")
      .container
        .contacts__wrap.flex-wrap
          .contacts__empty
          .contacts__main.flex-wrap
            .about__advantages-half
              h2.about__advantages-title 1. Архитектура
              p.about__advantages-text Архитекторы строительной компании Wanderbuild — профессионалы российского и зарубежного рынка. Команда всегда следует высоким стандартам и мировым трендам, поэтому архитектурные проекты частных резиденций и до-мов остаются актуальными в течение десятилетий.
              span(data-teleport-target="about-adv-up")
              span(js-teleport data-teleport-condition="<568" data-teleport-to="about-adv-down")
                h2.about__advantages-title 3. Строительство
                p.about__advantages-text Многолетний опыт проектирования объектов загородной недвижимости и отслеживание современных требований к строительству помогает нам строить ликвидные объекты. Мы создаем проекты с инвестиционной ценностью на случай последующей перепродажи.
            .about__advantages-half
              span(js-teleport data-teleport-condition="<568" data-teleport-to="about-adv-up")
                h2.about__advantages-title 2. Проектирование
                p.about__advantages-text Каждый из этапов строительства — от фундамента до отделки полностью кон-тролируется командой Wanderbuild. Качественная реализация проектов — это и выбор материалов, и исполнение, и внимание к качеству выполненных работ. Мы готовы поручиться за наш каждый объект.
              span(data-teleport-target="about-adv-down")
              h2.about__advantages-title 4. Полная комплектация
              p.about__advantages-text Заключительный, но один из самых важных этапов работы — подготовка дома к заселению. Команда Wanderbuild ведет закупку, доставку и установку предметов интерьера. Все — от дивана в гостиной до светильника над крыльцом будет готово к моменту переезда жильцов.
    //steps
    .how-section__steps
      .container
        .contacts__wrap.flex-wrap
          .contacts__empty
          .contacts__main
            h2.common-subtitle.wow(data-wow-delay="0.1s") Этапность работ
            p.about__team-text.common-text.wow(data-wow-delay="0.2s") Полностью готовый проект частного дома «под ключ» от строительной компании Wanderbuild можно разделить на несколько этапов. Команда контролирует реализацию проекта и гарантирует максимально качественный итоговый результат.
    // slider
    .how-section__sliders.wow(data-wow-delay="0.3s")
      .how-section__header-slider.flex-wrap
        .how-section__header-item 1 ШАГ <br> Техническое задание
        .how-section__header-item 2 ШАГ <br> Проектирование и инженерия
        .how-section__header-item 3 ШАГ <br> Строительство и отделка
        .how-section__header-item 4 ШАГ <br> Интерьер и декор
      .how-section__main-slider.flex-wrap
        .how-section__main-item
          .how-section__main-img
            img(src="img/slider1.jpg" srcset="img/slider1@2x.jpg 2x")
          .how-section__main-text Работа над проектом дома начинается с создания технического задания. Мы проводим интервью с заказчиком, учитываем пожелания, рассчитываем бюджет и сроки реализации проекта. На основе согласованного ТЗ за две недели мы создаем эскизные решения и планировку.
        .how-section__main-item
          .how-section__main-img
            img(src="img/slider2.jpg" srcset="img/slider2@2x.jpg 2x")
          .how-section__main-text После утверждения проекта команда погружается в процесс разработки и создания архитектурного решения. На его основе строится конструктив и инженерный проект, которые также утверждаются с заказчиком.
        .how-section__main-item
          .how-section__main-img
            img(src="img/slider1.jpg" srcset="img/slider3@2x.jpg 2x")
          .how-section__main-text Согласовав проект будущего особняка, команда Wanderbuild приступает к строительным работам. Каждый из шагов выполняется своевременно и с соблюдением всех стандартов качества. После возведения конструктива дома начинаются отделочные работы. Дизайн-проект интерьера основывается на пожеланиях владельцев и их образе жизни.
        .how-section__main-item
          .how-section__main-img
            img(src="img/slider1.jpg" srcset="img/slider4@2x.jpg 2x")
          .how-section__main-text  С окончанием всех отделочных работ начинается процесс оформления интерьера дома. На основе согласованного с заказчиком дизайнпроекта подбирается мебель и предметы декора. Этот этап контролируют профессиональные дизайнеры, находясь в постоянном контакте с хозяевами дома.
    section.new-projects.wow.fadeIn(data-wow-delay="0.1s")
      .container
        h2.new-projects__title.wow Новые проекты
        .projects-row(js-projects-slider)
              a.project-item.wow(href="item-2.html")
                .project-item__img
                  img(src="img/item-mini-shooted1.jpg" srcset="img/item-mini-shooted1@2x.jpg 2x")
                span.project-item__index Архитектор Брендон Вичвуд
                h3.project-item__name Английская классика в поселке Ландшафт
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-3.html")
                .project-item__img
                  img(src="img/item-mini-shooted2.jpg" srcset="img/item-mini-shooted2@2x.jpg 2x")
                span.project-item__index Архитектор Брендон Вичвуд
                h3.project-item__name Классический дом в поселке Ландшафт
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-4.html")
                .project-item__img
                  img(src="img/item-mini-render1.jpg" srcset="img/item-mini-render1@2x.jpg 2x")
                span.project-item__index Архитектор Ирина Ясинская
                h3.project-item__name Дом в стиле Ар Деко в поселке малое Сареево
                span.project-item__about
                  span О проекте
