---
title: Строительная компания
---
extends shared/_layout
block content
  main.page-main.homepage-body
    // HOME SLIDER :: START
    section.main-slider
      .main-slider__slide.main-slider__slide--one
        .container
          .main-slider__wrap.flex-wrap
            h3.main-slider__quest.wow(data-wow-delay="0.1s") Что мы делаем?
            h2.main-slider__title.wow(data-wow-delay=".2s") Дома по индивидуальным проектам под ключ
            a.common-btn.wow(data-wow-delay=".4s" href="about.html") О компании
    // NEW PROJECTS :: START
    section.new-projects
      .container
        h2.new-projects__title.wow Новые проекты
        .projects-row.wow(js-projects-slider)
              a.project-item.wow(href="item-2.html")
                .project-item__img
                  img(src="img/item-mini2.jpg" srcset="img/item-mini-shooted1@2x.jpg 2x")
                span.project-item__index Архитектор Брендон Вичвуд
                h3.project-item__name Английская классика в поселке Ландшафт
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-3.html")
                .project-item__img
                  img(src="img/item-mini3.jpg" srcset="img/item-mini-shooted2@2x.jpg 2x")
                span.project-item__index Архитектор Брендон Вичвуд
                h3.project-item__name Классический дом в поселке Ландшафт
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-4.html")
                .project-item__img
                  img(src="img/item-mini2.jpg" srcset="img/item-mini-render1@2x.jpg 2x")
                span.project-item__index Архитектор Ирина Ясинская
                h3.project-item__name Дом в стиле Ар Деко в поселке малое Сареево
                span.project-item__about
                  span О проекте
      a.common-btn.wow(data-wow-delay="0.4s" href="list.html") Все проекты
    // ONE PROJECT :: START
    section.one-project.wow
      .container
        .one-project__wrap.flex-wrap
          span.one-project__index.wow(data-wow-delay="0.2s") Архитектор Роман Ди
          h2.one-project__name.wow(data-wow-delay="0.3s") Дом в стиле Ар Деко в поселке Малое Сареево
          a.common-btn.wow(data-wow-delay="0.4s" href="list.html") Все проекты
    // WHY US :: START
    section.why-us.wow
      .container
        h2.why-us__title.wow(data-wow-delay="0.2s") Почему Мы
        .why-us__item.wow(data-wow-delay="0.4s")
          p.why-us__text Сочетая высокие стандарты рынка и индивидуальный подход к каждому проекту, мы строим качественные частные особняки и резиденции в Подмосковье. С Wanderbuild инвестируя в строительство собственного дома или объекта для продажи всегда можно быть уверенным в идеальном уровне исполнения и росте его рыночной стоимости.
          span.why-us__author Wanderbuild
    // WHAT WE DO :: START
    section.what-we-do.wow
      .container
        h2.what-we-do__title.wow(data-wow-delay="0.2s") Что мы делаем?
        p.what-we-do__text.wow(data-wow-delay=".4s") Дом, в котором хочется жить. Недвижимость, в которую хочется вкладываться
        a.common-btn.common-btn--white.wow(href="about.html" data-wow-delay=".5s") Как мы работаем
    // CALLBACK :: START
    section.callback
      .container.wow
        h2.callback__title.wow(data-wow-delay="0.2s") Обратная связь
        p.callback__text.wow(data-wow-delay="0.4s") Напишите нам и мы быстро свяжемся с вами!
        a.common-btn.wow(data-wow-delay=".4s" href="mailto:info@wanderbuild.com") Написать
