---
title: List-item
---
extends shared/_layout
block content
  main.page-main
    .container--breadcrumbs
      .breadcrumbs
        a.breadcrumbs__link(href="homepage.html") Главная
        a.breadcrumbs__link(href="list.html") Проекты
    // PROJECT SECTION :: START
    section.list-section
      .container
        .list-section__wrap.flex-wrap
          aside.list-section__aside.list-section__aside--visible
            a.list-section__back(href="list.html").wow(data-wow-delay="1s")
              span Назад к проектам
            a.breadcrumbs__link(href="#") Проекты
            img.list-section__img(src="img/list-item1.jpg")
            .wow(data-wow-delay=".1s")
              h3.list-section__aside-title.list-section__aside-title--main.list-section__aside-heading Классический дом в поселке Малое Сареево
            .wow(data-wow-delay=".2s")
              h3.list-section__aside-title Площадь
              p.list-section__aside-descr 800 кв.м
            .wow(data-wow-delay=".2s")
              h3.list-section__aside-title Площадь участка
              p.list-section__aside-descr 15 сот.
            .wow(data-wow-delay=".3s")
              h3.list-section__aside-title Дата завершения
              p.list-section__aside-descr 2018
            .wow(data-wow-delay=".4s")
              h3.list-section__aside-title Стиль
              p.list-section__aside-descr Классический
            .wow(data-wow-delay=".4s")
              h3.list-section__aside-title Кол-во спален
              p.list-section__aside-descr 6
            .wow(data-wow-delay=".4s")
              h3.list-section__aside-title Архитектор
              p.list-section__aside-descr Ясинская
          .list-section__main
            img.list-section__img.wow(data-wow-delay="0.1s" src="img/dom/1.jpg" srcset="img/dom/1@2x.jpg 2x")
            img.list-section__img.wow(data-wow-delay="0.1s" src="img/dom/2.jpg" srcset="img/dom/2@2x.jpg 2x")
            img.list-section__img.wow(data-wow-delay="0.1s" src="img/dom/3.jpg" srcset="img/dom/3@2x.jpg 2x")
            img.list-section__img.wow(data-wow-delay="0.1s" src="img/dom/4.jpg" srcset="img/dom/4@2x.jpg 2x")
