---
title: List
---
extends shared/_layout
block content
  main.page-main
    .container--breadcrumbs
      .breadcrumbs
        a.breadcrumbs__link(href="homepage.html") Главная
        a.breadcrumbs__link(href="#") Проекты
    // LIST PROJECTS :: START
    section.list-section
      .container
        .list-section__wrap.flex-wrap
          aside.list-section__aside.wow
            ul.list-section__menu
              li
                a.list-section__menu-item(href="item-1.html")
                  span Дом в КП Малое Сареево
              li
                a.list-section__menu-item(href="item-2.html")
                  span Дом в КП Ландшафт
              li
                a.list-section__menu-item(href="item-3.html")
                  span Английский дом в КП Ландшафт
              li
                a.list-section__menu-item(href="item-4.html")
                  span Дом в Сареево
          .list-section__main
            h1.list-section__title Проекты
            .list-section__row.projects-row
              a.project-item.wow(href="item-1.html")
                .project-item__img
                  img(src="img/item-mini1.jpg" srcset="img/item-mini-goodrender1@2x.jpg 2x")
                span.project-item__index Архитектор Ясинская
                h3.project-item__name Классический дом в Малом Сараеево
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-2.html")
                .project-item__img
                  img(src="img/item-mini2.jpg" srcset="img/item-mini-shooted1@2x.jpg 2x")
                span.project-item__index Архитектор Брендсон
                h3.project-item__name Английская классика в поселке Ландшафт
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-3.html")
                .project-item__img
                  img(src="img/item-mini3.jpg" srcset="img/item-mini-shooted2@2x.jpg 2x")
                span.project-item__index Архитектор Брендсон
                h3.project-item__name Классический дом в поселке Ландшафт
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-4.html")
                .project-item__img
                  img(src="img/item-mini2.jpg" srcset="img/item-mini-render1@2x.jpg 2x")
                span.project-item__index Архитектор Ясинская
                h3.project-item__name Дом в стиле Ар Деко в поселке малое Сареево
                span.project-item__about
                  span О проекте
