---
title: Проекты
---
extends shared/_layout
block content
  main.page-main
    .container--breadcrumbs
      .breadcrumbs
        a.breadcrumbs__link(href="index.html") Главная
        a.breadcrumbs__link(href="#") Проекты
    // LIST PROJECTS :: START
    section.list-section
      .container
        .list-section__wrap.flex-wrap
          aside.list-section__aside.wow
            ul.list-section__menu
              li
                a.list-section__menu-item(href="item-1.html")
                  span Классический дом в Сареево
              li
                a.list-section__menu-item(href="item-2.html")
                  span Дом в КП Ландшафт
              li
                a.list-section__menu-item(href="item-3.html")
                  span Английский дом в КП Ландшафт
              li
                a.list-section__menu-item(href="item-4.html")
                  span Дом в Малом Сареево
              li
                a.list-section__menu-item(href="item-5.html")
                  span Неоклассика в Раздорах
              li
                a.list-section__menu-item(href="item-6.html")
                  span Дом в Успенских лесах
          .list-section__main
            h1.list-section__title Проекты
            .list-section__row.projects-row
              a.project-item.wow(href="item-1.html")
                .project-item__img
                  img(src="img/item-mini-goodrender1.jpg" srcset="img/item-mini-goodrender1@2x.jpg 2x")
                span.project-item__index Архитектор Ирина Ясинская
                h3.project-item__name Классический дом в поселке Малое Сареево
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-2.html")
                .project-item__img
                  img(src="img/item-mini-shooted1.jpg" srcset="img/item-mini-shooted1@2x.jpg 2x")
                span.project-item__index Архитектор Олег Резник
                h3.project-item__name Английская классика в поселке Ландшафт
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-3.html")
                .project-item__img
                  img(src="img/item-mini-shooted-shooted2.jpg" srcset="img/item-mini-shooted2@2x.jpg 2x")
                span.project-item__index Архитектор Брендон Вичвуд
                h3.project-item__name Классический дом в поселке Ландшафт
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-4.html")
                .project-item__img
                  img(src="img/item-mini-render1.jpg" srcset="img/item-mini-render1@2x.jpg 2x")
                span.project-item__index Архитектор Roman Di
                h3.project-item__name Дом в стиле Ар Деко в поселке Малое Сареево
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-5.html")
                .project-item__img
                  img(src="img/item-mini-dom5.jpg" srcset="img/item-mini-dom5@2x.jpg 2x")
                span.project-item__index Архитектор Ирина Ясинская
                h3.project-item__name Неоклассика в поселке Раздоры-2
                span.project-item__about
                  span О проекте
              a.project-item.wow(href="item-6.html")
                .project-item__img
                  img(src="img/item-mini-dom6.jpg" srcset="img/item-mini-dom6@2x.jpg 2x")
                span.project-item__index Архитектор Roman Di
                h3.project-item__name Неоклассика в поселке Успенские Леса
                span.project-item__about
                  span О проекте
