---
title: List
---
extends shared/_layout
block content
  main.page-main
    .container--breadcrumbs
      .breadcrumbs
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link(href="#") Проекты
    section.list-section
      .container
        .list-section__wrap.flex-wrap
          aside.list-section__aside.wow.fadeInUp(data-wow-delay="0.9s")
            ul.list-section__menu
              li
                a.list-section__menu-item.is-active(href="#") ID 25-03
              li
                a.list-section__menu-item(href="#") ID 65-01 VILLAGE
              li
                a.list-section__menu-item(href="#") ID 23-11JQ
              li
                a.list-section__menu-item(href="#") ID 15-11CAT
              li
                a.list-section__menu-item(href="#") ID 05-016 BARVIKHA
              li
                a.list-section__menu-item(href="#") ID 23-11JQ
          .list-section__main
            .list-section__row.projects-row
              a.project-item.wow.fadeInUp(data-wow-delay="0.9s" href="#")
                .project-item__img
                  img(src="img/item-mini1.jpg")
                span.project-item__index ID 25-03
                h3.project-item__name ЧАСТНЫЙ ДОМ В ПОСЕЛКЕ ЗНАМЕНСКОЕ ПОЛЕ
                span.project-item__about О проекте
              a.project-item.wow.fadeInUp(data-wow-delay="0.9s" href="#")
                .project-item__img
                  img(src="img/item-mini2.jpg")
                span.project-item__index ID 25-03
                h3.project-item__name ЧАСТНЫЙ ДОМ В ПОСЕЛКЕ ЗНАМЕНСКОЕ ПОЛЕ
                span.project-item__about О проекте
              a.project-item.wow.fadeInUp(data-wow-delay="0.9s" href="#")
                .project-item__img
                  img(src="img/item-mini3.jpg")
                span.project-item__index ID 25-03
                h3.project-item__name ЧАСТНЫЙ ДОМ В ПОСЕЛКЕ ЗНАМЕНСКОЕ ПОЛЕ
                span.project-item__about О проекте
              a.project-item.wow.fadeInUp(data-wow-delay="0.9s" href="#")
                .project-item__img
                  img(src="img/item-mini1.jpg")
                span.project-item__index ID 25-03
                h3.project-item__name ЧАСТНЫЙ ДОМ В ПОСЕЛКЕ ЗНАМЕНСКОЕ ПОЛЕ
                span.project-item__about О проекте
              a.project-item.wow.fadeInUp(data-wow-delay="0.7s" href="#")
                .project-item__img
                  img(src="img/item-mini2.jpg")
                span.project-item__index ID 25-03
                h3.project-item__name ЧАСТНЫЙ ДОМ В ПОСЕЛКЕ ЗНАМЕНСКОЕ ПОЛЕ
                span.project-item__about О проекте
              a.project-item.wow.fadeInUp(data-wow-delay="0.7s" href="#")
                .project-item__img
                  img(src="img/item-mini3.jpg")
                span.project-item__index ID 25-03
                h3.project-item__name ЧАСТНЫЙ ДОМ В ПОСЕЛКЕ ЗНАМЕНСКОЕ ПОЛЕ
                span.project-item__about О проекте
          
  