include _mixins
doctype html
html(lang="ru")
  head
    include _head

  body
    #barba-wrapper
      block header
        include ../components/_header
        // CHANGEBALE - barba loading this in pjax
        .page
          block content

          block footer
            include ../components/_footer

    block scripts
      include _scripts
