// LAYOUT
$mobile-s: 414
$mobile: 568
$tablet: 767
$desktop: 992
$wide: 1200
$custom-wide: 1350
$hd: 1680

// COLORS
$whiteColor: #fff
$blackColor: #000

$mainColor: #d9e100
$main2Color: #004066
$eventsBg: #102744
$textColor: #494949
$advIcon: #356d90

$footerText: #5a5a5a
$footerBg: #f8f8f0
$footerBorder: #d0d0ca

$inputBg: #f6f6f6
$inputBorder: #e5e5e5
$inputText: #7b7b7b
$inputLabel: #4f4f4f

$error: #e00000



// OPTIONS
$transitionSpeed: .25s
$ease: ease-in-out

// FONTS
$fontExtra: 'proxima_nova_thextrabold'
$fontBold: 'proxima_nova_rgbold'
$fontReg: 'proxima_nova_rgregular'
$fontLight: 'proxima_novalight'
