.footer
  border-top: 1px solid $mainColor
  padding: 17px 0
  position: relative
  z-index: 3
  margin-top: auto
  &__wrap
    justify-content: space-between
  &__dev
    text-transform: uppercase
    font-size: 10px
    text-decoration: none
    letter-spacing: 0.15em
    color: $mainColor
    width: 45%
    span
      padding: 0 2px
      transition: all $transitionSpeed $ease
      &:hover
        background-color: $main2Color
  &__copy
    width: 55%
    text-transform: uppercase
    font-size: 10px
    letter-spacing: 0.15em
    text-align: right
    color: $mainColor
  &--white
    border-color: white
    margin-top: -46px
    .footer__dev,
    .footer__copy
      color: white

+r($tablet)
  .footer
    padding: 20px 0
    &__dev
      display: none
    &__copy
      width: 100%
      text-align: left
    &--white
      .footer
      margin-top: -56px
