.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: transparent
  z-index: 10
  border-bottom: 2px solid $whiteColor
  transition: all 0.15s $ease
  &__wrap
    align-items: stretch
  &__main
    width: 400px
    border-right: 2px solid $whiteColor
    padding: 37px 0
    position: relative
    padding-right: 30px
    justify-content: space-between
  &__logo
    color: $whiteColor
    position: relative
    z-index: 3
  &__empty
    width: calc(100% - 400px)
  &__btn
    z-index: 3
  .hamburger-inner
    background-color: $whiteColor
    &:after,
    &:before
      background-color: $whiteColor
  &--black
    .header__logo
      color: $mainColor
    .hamburger-inner
      background-color: $mainColor
      &:before,
      &:after
        background-color: $mainColor
      
+r($desktop)
  .header
    &__main,
    &__empty
      width: 50%
    &__main
      padding: 30px 0
      padding-right: 30px
      
+r($tablet)
  .header
    &__main
      width: 100%
      padding-right: 0
      border: 0
      padding: 26px 0
    &__empty
      width: 0
    