// FONTS
@font-face {
  font-family: 'aeroportbold';
  src: url('../../fonts/aeroport-bold.woff2') format('woff2'),
  url('../../fonts/aeroport-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aeroportlight';
  src: url('../../fonts/aeroport-light.woff2') format('woff2'),
  url('../../fonts/aeroport-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aeroportmedium';
  src: url('../../fonts/aeroport-medium.woff2') format('woff2'),
  url('../../fonts/aeroport-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aeroportregular';
  src: url('../../fonts/aeroport-regular.woff2') format('woff2'),
  url('../../fonts/aeroport-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}